body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Saira Condensed', sans-serif;
  background-image: linear-gradient( 171.8deg,  #056f92 13.5%, #063954 78.6% );
}

nav, footer {
  background-color: #0005;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0009;
  width: 90%;
  max-width: 400px;
  min-height: 220px;
  border: 2px solid #fff9;
}

input[type=number] {
  background-color: #ddd2;
  color: white;
}

input[type=number]:focus {
  background-color: #ddd4;
  color: white;
}

section p {
  font-size: 3.5rem;
  margin: 0;
}

.btn {
  padding: 0 0.5rem;
}

.btn {
  padding: 0 0.5rem;
}

i {
  font-size: 4rem;
  color: #ddd;
}

i:hover {
  color: #ddddddc2;
}

i:active {
  color: #dddddd77;
}